.Friend {
  padding-bottom: 3vh;
  display: flex;
}
.Friend div {
  margin-right: 4vh;
}
.Friend img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.FriendsList {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 300px;
  height: 300px;
  width: 500px;
  overflow-y: auto;
  background-color: whitesmoke;
  border-radius: 20px;
}

h1 {
  text-align: center;
  margin-right: 300px;
}
.AddFriendForm {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.AddFriendForm div {
  margin-top: 10px;
}
.MainDiv {
  display: flex;
  flex-direction: row;
}
.SplitBillCompoForm {
  margin-top: 5rem;
  margin-left: 3rem;
}
.billPayerDropdown {
  width: 10px;
}
